@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/variables";

.filters {
  @include flexbox(
    $direction: column,
    $justify: space-between,
    $align: flex-start
  );
  position: relative;

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $black;
  }

  &__options {
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $align: flex-start
    );
    width: 100%;

    > *:last-child {
      border-bottom: none;
    }

    &__item {
      padding: 32px 0;
      border-bottom: 0.5px solid $mint-green;
      width: 100%;

      @include flexbox(
        $direction: column,
        $justify: flex-start,
        $align: flex-start,
        $gap: 16px
      );

      &__header {
        width: 100%;
        @include flexbox($justify: space-between, $align: center, $gap: 16px);
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;

        &:hover {
          cursor: pointer;
        }

        &__text {
          font-size: 16px;
          font-weight: 600;
          color: $black;

          @include large-screen-resultPage {
            font-size: 14px;
          }
        }
      }

      &__content {
        width: 100%;

        &__rating {
          @include flexbox($justify: flex-start, $align: center, $gap: 16px);

          @include large-screen-resultPage {
            flex-direction: column;
            align-items: flex-start;
          }

          &__item {
            padding: 8px;
            border: 1px solid $mint-green;
            border-radius: 8px;
            width: 40px;
            height: 32px;
            font-size: 15px;
            font-weight: 500;
            color: $black;
            @include flexbox($justify: center, $align: center);

            @include large-screen-resultPage {
              width: 30px;
              height: 22px;
            }

            &:hover {
              cursor: pointer;
              background-color: $mint-green;
            }
          }
        }

        &__checks {
          @include flexbox(
            $direction: column,
            $justify: flex-start,
            $align: flex-start,
            $gap: 12px
          );

          &__item {
            @include flexbox($justify: flex-start, $align: center, $gap: 8px);

            &__input[type="checkbox"] {
              appearance: checkbox;
              cursor: pointer;
              min-width: 20px;
              min-height: 20px;
              border-radius: 8px;

              @include large-screen-resultPage {
                min-width: 15px;
                min-height: 15px;
              }
            }

            &__input[type="checkbox"]:checked {
              accent-color: $mint-green;
            }

            &__text {
              @include large-screen-resultPage {
                font-size: 14px;
              }

              @include tablet {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  &__closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;

    @include mobile {
      display: initial;
    }
  }
}
