@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/variables";

.flight__detail__preview {
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $align: flex-start,
    $gap: 16px
  );
  width: 100%;

  &__header {
    @include flexbox($justify: space-between, $align: center, $gap: 4px);
    width: 100%;

    &__title {
      font-size: 24px;
      font-weight: 700;
      color: $black;

      @include mobile {
        font-size: 20px;
      }

      @include x-small-screen {
        font-size: 16px;
      }
    }

    &__price {
      font-size: 32px;
      font-weight: 700;
      color: $red;

      @include mobile {
        font-size: 24px;
      }

      @include x-small-screen {
        font-size: 18px;
      }
    }
  }

  &__location {
    @include flexbox($justify: flex-start, $align: center, $gap: 4px);

    &__text {
      font-size: 14px;
      font-weight: 500;
      color: $blackishGreen;

      @include mobile {
        font-size: 12px;
      }
    }
  }

  &__actions {
    @include flexbox($justify: space-between, $align: center, $gap: 4px);
    width: 100%;

    &__rating {
      @include flexbox($justify: flex-start, $align: center, $gap: 8px);

      @include x-small-screen {
        display: none;
      }

      &__total {
        border: 1px solid $mint-green;
        border-radius: 8px;
        padding: 8px;
      }

      &__case {
        font-size: 15px;
        font-weight: 700;
        color: $black;

        @include mobile {
          display: none;
        }
      }

      &__count {
        font-size: 15px;
        font-weight: 400;
        color: $black;
      }
    }

    &__btns {
      @include flexbox($justify: flex-start, $align: center, $gap: 12px);

      @include x-small-screen {
        margin-left: auto;
      }

      &__love,
      &__share {
        border: 1px solid $mint-green;
        border-radius: 8px;
        padding: 8px;
        outline: none;
        background-color: transparent;
        line-height: 0;

        &:hover {
          cursor: pointer;
          background-color: $mint-green;
        }
      }

      &__buy {
        background-color: $mint-green;
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 10px 16px;
        font-size: 16px;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
}
