@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/variables";

.hotelItem {
  width: 100%;
  height: 270px;
  @include flexbox($justify: flex-start, $align: flex-start);
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 12px;

  &__img {
    flex: 4;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }

    &__count {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 8px;
      padding: 8px;
      font-size: 14px;
      font-weight: 500;
      color: $black;
    }
  }

  &__content {
    flex: 8;
    padding: 24px;
    @include flexbox(
      $direction: column,
      $justify: flex-start,
      $align: flex-start,
      $gap: 12px
    );
    width: 100%;

    &__header {
      @include flexbox($justify: space-between, $align: flex-start, $gap: 12px);
      width: 100%;

      &__info {
        @include flexbox(
          $direction: column,
          $justify: flex-start,
          $align: flex-start,
          $gap: 16px
        );

        &__title {
          font-size: 20px;
          font-weight: 700;
          color: $black;
        }

        &__desc {
          @include flexbox($justify: flex-start, $align: center, $gap: 2px);

          p {
            font-size: 13px;
            font-weight: 400;
            color: $black;
          }
        }
      }

      &__price {
        max-width: 110px;
        font-size: 24px;
        font-weight: 700;
        color: $red;
        text-align: left;

        span {
          font-size: 13px;
          font-weight: 400;
          color: $black;
        }

        > *:nth-child(2) {
          color: $red;
        }

        > *:last-child {
          display: block;
          text-align: right;
        }
      }
    }

    &__general {
      @include flexbox($justify: flex-start, $align: center, $gap: 32px);

      &__stars {
        @include flexbox($justify: flex-start, $align: center);

        > *:not(:last-child) {
          color: $red;
          font-size: 16px;
        }

        &__text {
          padding: 0 2px;
          font-size: 14px;
          font-weight: 500;
          color: $black;
        }
      }

      &__amenity {
        @include flexbox($justify: flex-start, $align: center, $gap: 4px);

        &__text {
          font-size: 14px;
          font-weight: 500;
          color: $black;
        }
      }
    }

    &__rating {
      @include flexbox($justify: flex-start, $align: center, $gap: 4px);

      &__item {
        padding: 8px;
        border: 1px solid $mint-green;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
        color: $black;
      }

      &__case {
        font-size: 14px;
        font-weight: 600;
        color: $black;
      }

      &__total {
        font-size: 14px;
        font-weight: 500;
        color: $black;
      }
    }

    &__divider {
      width: 100%;
      height: 0.5px;
      background-color: $mint-green;
      margin: 12px 0;
    }

    &__bottom {
      @include flexbox($justify: flex-start, $align: center, $gap: 16px);
      width: 100%;

      &__icon {
        padding: 8px;
        border-radius: 8px;
        border: 1px solid $mint-green;
        background-color: transparent;
        line-height: 0;

        &:hover {
          cursor: pointer;
        }
      }

      &__btn {
        background-color: $mint-green;
        padding: 16px;
        border: none;
        outline: none;
        line-height: 0;
        flex-grow: 1;
        align-self: stretch;
        border-radius: 8px;
        font-size: 16px;
        color: $black;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }
  }
}
