@import "../utils/colors";
@import "../utils/mixins";

.hotel__detail {
  background-color: $bg;
  padding: 48px 5%;
  @include flexbox(
    $direction: column,
    $justify: flex-start,
    $align: flex-start
  );
  width: 100%;

  > *:first-child {
    margin-bottom: 32px;
  }
}
